@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


$interFont: 'Inter', sans-serif;
$lexendDecaFont: 'Lexend Deca', sans-serif;

$fontW400: 400;
$fontW700: 700;

$mainSize: 15px;